<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!--<link href="node_modules/bootstrap/dist/css/bootstrap.min.css">-->
        <!--<link href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">-->
        <link href="stylesheets/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/style.css" rel="stylesheet">
        <link href="node_modules/ng-popup/dist/ngPopup.css" rel="stylesheet"></link>
        <link href="node_modules/angular-toastr/dist/angular-toastr.css" rel="stylesheet"></link>
        <link href="node_modules/ng-material-floating-button/mfb/dist/mfb.css" rel="stylesheet"></link>
        <link href="node_modules/font-awesome/css/font-awesome.css" rel="stylesheet"></link>
        
        <title>Hello, World! example for mxGraph</title>
        <!--<link rel="stylesheet" href="/node_modules/mxgraph/javascript/examples/editors/css/wordpress.css" type="text/css" media="screen" />-->
        <style type="text/css" media="screen">
		      #page { background: url("/node_modules/mxgraph/javascript/examples/editors/images/draw/drawbg.jpg") repeat-y top; border: none; }
	      </style>
        
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="node_modules/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="node_modules/angular-listview/angular-listview.js"></script>
        <script type="text/javascript" src="node_modules/ng-popup/dist/ngPopup.js"></script>
        <script type="text/javascript" src="node_modules/angular-toastr/dist/angular-toastr.js"></script>
        <script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
        <script type="text/javascript" src="node_modules/ng-material-floating-button/src/mfb-directive.js"></script>
        <script type="text/javascript" src="node_modules/angular-deckgrid/angular-deckgrid.js"></script>
        
        	<script type="text/javascript">
        
                mxBasePath = '/node_modules/mxgraph/javascript/src';
                
        		var urlParams = (function(url)
        		{
        			var result = new Object();
        			var params = window.location.search.slice(1).split('&');
        			
        			for (var i = 0; i < params.length; i++)
        			{
        				idx = params[i].indexOf('=');
        				
        				if (idx > 0)
        				{
        					result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
        				}
        			}
        			
        			return result;
        		})(window.location.href);
                
                var mxLanguage = urlParams['lang'];
	        </script>
	        
	         <!-- Loads and initializes the library -->
	      <script type="text/javascript" src="/node_modules/mxgraph/javascript/mxClient.js"></script>
        
        <script type="text/javascript" src="/javascripts/util/httpService.js"></script>
        <script type="text/javascript" src="/javascripts/util/apiService.js"></script>
        <script type="text/javascript" src="/javascripts/mdesign/state.js"></script>
        <script type="text/javascript" src="/javascripts/login/state.js"></script>
        <script type="text/javascript" src="/javascripts/projects/state.js"></script>
        <script type="text/javascript" src="/javascripts/environments/state.js"></script>
        <script type="text/javascript" src="/javascripts/app.js"></script>
    </head>
    <body ng-app="app" ui-view ng-controller="appController">
    	

        
    </body>
</html>


