<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!--<link href="node_modules/bootstrap/dist/css/bootstrap.min.css">-->
        <!--<link href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">-->
        <link href="stylesheets/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/style.css" rel="stylesheet">
        
        <title>Hello, World! example for mxGraph</title>
        <!--<link rel="stylesheet" href="/node_modules/mxgraph/javascript/examples/editors/css/wordpress.css" type="text/css" media="screen" />-->
        <style type="text/css" media="screen">
		      #page { background: url("/node_modules/mxgraph/javascript/examples/editors/images/draw/drawbg.jpg") repeat-y top; border: none; }
	      </style>
        
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="node_modules/angular-bootstrap/ui-bootstrap.js"></script>
        
        	<script type="text/javascript">
        
                mxBasePath = '/node_modules/mxgraph/javascript/src';
                
        		var urlParams = (function(url)
        		{
        			var result = new Object();
        			var params = window.location.search.slice(1).split('&');
        			
        			for (var i = 0; i < params.length; i++)
        			{
        				idx = params[i].indexOf('=');
        				
        				if (idx > 0)
        				{
        					result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
        				}
        			}
        			
        			return result;
        		})(window.location.href);
                
                var mxLanguage = urlParams['lang'];
	        </script>
	        
	         <!-- Loads and initializes the library -->
	      <script type="text/javascript" src="/node_modules/mxgraph/javascript/mxClient.js"></script>
        
        <script type="text/javascript" src="/javascripts/app.js"></script>
    </head>
    <body ng-app="app" ui-view ng-controller="appController">
    	
    </body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Micro-S-Platform</a>
            </div>
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
               
              </ul>
            </div>
          </div>
        </nav>
        
        	
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="mainActions">
				</div>
				
			</div>
			
		</div>
		<div class="row">
			
			 <div class="col-sm-6">
			      <div id="selectActions">
					</div>
			    </div>
			    <div class="col-sm-6">
			    	</div>
		</div>
  <div class="row">
   
    <div class="col-sm-8">
      <table border="0" width="730px">
			<tr>
				<td id="toolbar"  valign="top">
					<!-- Toolbar Here -->				
				</td>
				<td valign="top" style="border-width:1px;border-style:solid;border-color:black;">
					<div id="graph" tabindex="-1" style="position:relative;height:480px;width:684px;overflow:hidden;cursor:default;">
						<!-- Graph Here -->
						<center id="splash">
							<img src="/node_modules/mxgraph/javascript/examples/editors/images/loading.gif">
						</center>
					</div>
					<textarea id="xml" style="height:480px;width:684px;display:none;border-style:none;"></textarea>
				</td>
			</tr>
		</table>
    </div>
    <div class="col-sm-4">
        <table id="propPanel" ng-show="showPropPanel" class="ng-hide">
            <tr>
                <td>Microservice Properties</td>
            </tr>
            <ng-include src="template"></ng-include>
        </table>
        
    </div>
    
  </div>
  
  <div class="row">
  	<div class="col-lg-2"><div id="zoomActions"></div>
  	</div>
  	<div class="col-log-6"></div>
  	<div class="col-sm-4">
  		<span>
			<input id="source" type="checkbox"/>Source
		</span>
	</div>
  	
  
</div>
<div class="row">
	<div class="col-lg-12">
		<div id="footer">
			<p id="status">
				<!-- Status Here -->Loading...
			</p>
			<br/>
		</div>
		
	</div>
	
</div>
</div>
    </body>
</html>

<script  type="text/ng-template" id="beginTemplate">
    <tr>
        <td>
            begin variables
        </td>
    </tr>
</script>
