<form class="form-horizontal">
  <fieldset>
    <legend>Db Column Details</legend>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Column Name</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="sqlval.colName">
      </div>
    </div>
    <div class="form-group">
      <label for="inputType" class="col-lg-2 control-label">Type</label>
      <div class="col-lg-8">
        <!--<input type="text" class="form-control" id="inputType" placeholder="Type" ng-model="buType">-->
        <select class="form-control" id="inputType" placeholder="Type" ng-model="sqlval.colType">
          <option ng-repeat="type in buTypes">{{type}}</option>
          
        </select>
      </div>
    </div>
    
    
    <div class="form-group" >
      <label for="inputType" class="col-lg-2 control-label">Value</label>
      <div class="col-lg-8">
        <select class="form-control" id="inputType" ng-model="sqlval.valName">
          <option ng-repeat="type in bNameList">{{type}}</option>
          
        </select>
      </div>
    </div>
    
    
    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
        <button class="btn btn-primary"ng-click="saveCol()">Submit</button>
      </div>
    </div>
  </fieldset>
</form>