<nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Micro-S-Platform</a>
            </div>
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li ><a ng-click="goToProj()">Projects </a></li>
                <li ><a ng-click="goToEnv();">Environments</a></li>
               
              </ul>
            </div>
          </div>
        </nav>
        
        	
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="mainActions">
				</div>
				
			</div>
			
		</div>
		<div class="row">
			
			 <div class="col-sm-6">
			      <div id="selectActions">
					</div>
			    </div>
			    <div class="col-sm-6">
			    	</div>
		</div>
  <div class="row">
   
    <div class="col-sm-8">
      <table border="0" width="730px">
			<tr>
				<td id="toolbar"  valign="top">
					<!-- Toolbar Here -->				
				</td>
				<td valign="top" style="border-width:1px;border-style:solid;border-color:black;">
					<div id="graph" tabindex="-1" style="position:relative;height:480px;width:684px;overflow:hidden;cursor:default;">
						<!-- Graph Here -->
						<center id="splash">
							<img src="/node_modules/mxgraph/javascript/examples/editors/images/loading.gif">
						</center>
					</div>
					<textarea id="xml" style="height:480px;width:684px;display:none;border-style:none;"></textarea>
				</td>
			</tr>
		</table>
    </div>
    <div class="col-sm-4">
        
        <table id="propPanel" ng-show="showPropPanel" class="ng-hide">
            <tr>
                <td>Microservice Properties</td>
            </tr>
            
        </table>
        <ng-include src="template"></ng-include>
    </div>
    
  </div>
  
  <div class="row">
  	<div class="col-lg-2"><div id="zoomActions"></div>
  	</div>
  	<div class="col-log-3"><button class="btn btn-primary" ng-click="saveDesign()">Save Design</button></div>
  	<div class="col-log-3"><button class="btn btn-primary" ng-click="deployProj()">Deploy</button></div>
  	<div class="col-sm-4">
  		<span>
			<input id="source" type="checkbox"/>Source
		</span>
	</div>
  	
  
</div>
<div class="row">
	<div class="col-lg-12">
		<div id="footer">
			<p id="status">
				<!-- Status Here -->Loading...
			</p>
			<br/>
		</div>
		
	</div>
	
</div>



<script  type="text/ng-template" id="beginTemplate">
    <tr>
        <td>
            <h1>Begin Data</h1>
        </td>
    </tr>
    <tr>
        <td>
            <div list-view list="it in bObjs" select-mode="single" style="height: 250px; overflow: scroll;">
                <div><button ng-click="openBuObjForm()" class="btn btn-primary">Add Data Transfer Object</button></div>
                <div list-item>
                    <b>{{it.name}}</b>
                    <p>{{it.type}}</p>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div list-view list="it in beginObjs" select-mode="single" style="height: 250px; overflow: scroll;">
                <div><button ng-click="openBeginObjForm()" class="btn btn-primary">Add Begin Object</button></div>
                <div list-item>
                    <b>{{it.name}}</b>
                    <p>{{it.type}}</p>
                    <p>{{it.valName}}</p>
                </div>
            </div>
        </td>
    </tr>
</script>
        
<script  type="text/ng-template" id="scriptTemplate">
    <tr>
        <td>
            <h1>Script Data</h1>
        </td>
    </tr>
    <tr>
        <td>
            <div><button ng-click="saveScript()" class="btn btn-primary">Save</button></div>
            <textarea ng-model="$parent.scriptText" style="width:400px;height:350px"></textarea>
        </td>
    </tr>

    
</script>
        
<script  type="text/ng-template" id="databseTemplate">
    <tr>
        <td>
            <h1>Database Data</h1>
        </td>
    </tr>
    <tr>
        <td>
            <div class="row">
                <form class="form-horizontal">
                  <fieldset>
                    <legend>Databse Details</legend>
                    <div class="form-group">
                      <label for="dbLoc" class="col-lg-2 control-label">DB Location</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="dbLoc" placeholder="loc" ng-model="db.dbLoc">
                      </div>
                    </div>
                      
                      <div class="form-group">
                      <label for="dbPort" class="col-lg-2 control-label">DB port</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="dbPort" placeholder="Port" ng-model="db.dbPort">
                      </div>
                    </div>
                      
                      <div class="form-group">
                      <label for="dbName" class="col-lg-2 control-label">DB Name</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="dbName" placeholder="Name" ng-model="db.dbName">
                      </div>
                    </div>
                      
                      <div class="form-group">
                      <label for="dbuser" class="col-lg-2 control-label">DB Username</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="dbuser" placeholder="username" ng-model="db.dbuser">
                      </div>
                    </div>
                      
                      <div class="form-group">
                      <label for="dbpass" class="col-lg-2 control-label">DB Password</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="dbpass" placeholder="password" ng-model="db.dbpass">
                      </div>
                    </div>
                   
                    <div class="form-group">
                      <label for="tbName" class="col-lg-2 control-label">Table Name</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="tbName" placeholder="name" ng-model="db.tbName">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="select" class="col-lg-2 control-label">SQL Type</label>
                      <div class="col-lg-10">
                        <select class="form-control" id="select" ng-model="db.qType">
                          <option value="INSERT">INSERT</option>
                          <option value="UPDATE">UPDATE</option>
                          <option value="QUERY">QUERY</option>
                          <option value="DELETE">DELETE</option>
                        </select>
                      </div>
                    </div>
                    <div list-view list="it in db.sqlVals" select-mode="single" style="height: 250px; overflow: scroll;">
                        <div><button ng-click="openSqlColForm()" class="btn btn-primary">Add SQL Value</button></div>
                        <div list-item>
                            <div class="row">
                                <div class="col-sm-3">{{it.colName}}
                                </div>
                                <div class="col-sm-1"> : </div>
                                <div class="col-sm-3">{{it.valName}}</div>
                            </div>
                        </div>
                    </div>
                      
                      <div list-view list="it in db.sqlWhs" select-mode="single" style="height: 250px; overflow: scroll;">
                        <div><button ng-click="openSqlWhForm()" class="btn btn-primary">Add SQL WHERE</button></div>
                        <div list-item>
                            <div class="row">
                                <div class="col-sm-3">{{it.colName}}
                                </div>
                                <div class="col-sm-1"> : </div>
                                <div class="col-sm-3">{{it.valName}}</div>
                            </div>
                        </div>
                    </div>
                      
                      <div class="form-group" >
                          <label for="inputType" class="col-lg-2 control-label">Value Variable</label>
                          <div class="col-lg-8">
                            <select class="form-control" id="inputType" ng-model="db.valName">
                              <option ng-repeat="type in bNameList">{{type}}</option>

                            </select>
                          </div>
                        </div>
                    
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <button ng-click="saveDb()" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
            </div>
        </td>
    </tr>

    
</script>
        
        
<script  type="text/ng-template" id="restTemplate">
    <tr>
        <td>
            <h1>REST Data</h1>
        </td>
    </tr>
    <tr>
        <td>
            <div class="row">
                <form class="form-horizontal">
                  <fieldset>
                    <legend>Databse Details</legend>
                    <div class="form-group">
                      <label for="dbLoc" class="col-lg-2 control-label">REST Location</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="dbLoc" placeholder="loc" ng-model="rest.loc">
                      </div>
                    </div>
                   
                    <div class="form-group">
                      <label for="select" class="col-lg-2 control-label">REST Type</label>
                      <div class="col-lg-10">
                        <select class="form-control" id="select" ng-model="rest.rType">
                          <option value="PUT">PUT</option>
                          <option value="POST">POST</option>
                          <option value="GET">GET</option>
                          <option value="DELETE">DELETE</option>
                        </select>
                      </div>
                    </div>
                      
                      <div class="form-group" >
                          <label for="inputType" class="col-lg-2 control-label">Value</label>
                          <div class="col-lg-8">
                            <select class="form-control" id="inputType" ng-model="rest.valName">
                              <option ng-repeat="type in bNameList">{{type}}</option>

                            </select>
                          </div>
                        </div>
                      
                      <div class="form-group" >
                          <label for="inputType" class="col-lg-2 control-label">Response Variable</label>
                          <div class="col-lg-8">
                            <select class="form-control" id="inputType" ng-model="rest.resVar">
                              <option ng-repeat="type in bNameList">{{type}}</option>

                            </select>
                          </div>
                        </div>
                    
                    
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <button ng-click="saveRest()" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
            </div>
        </td>
    </tr>

    
</script>
        
        
<script  type="text/ng-template" id="decisionTemplate">
    <tr>
        <td>
            <h1>Decision Data</h1>
        </td>
    </tr>
    <tr>
        <td>
            <div class="row">
                <div list-view list="it in decision" select-mode="single" style="height: 250px; overflow: scroll;">
                        <div><button ng-click="addDecisionPath()" class="btn btn-primary">Add Decision Path</button><button ng-click="saveDecision()" class="btn btn-primary">Save Data</button></div>
                        <div list-item>
                            <div class="row">
                                <div class="col-sm-3">{{it.pathName}}
                                </div>
                                <div class="col-sm-1"> : </div>
                                <div class="col-sm-3">{{it.varName}}</div>
                                <div class="col-sm-1">{{it.act}}</div>
                                <div class="col-sm-2">{{it.valType}}</div>
                                <div class="col-sm-2">{{it.valName}}</div>
                            </div>
                        </div>
                    </div>
            </div>
        </td>
    </tr>

    
</script>

<script  type="text/ng-template" id="endTemplate">
    <tr>
        <td>
            <h1>End Data</h1>
        </td>
    </tr>

    <tr>
        <td>
            <div list-view list="it in endObjs" select-mode="single" style="height: 250px; overflow: scroll;">
                <div><button ng-click="openEndObjForm()" class="btn btn-primary">Add End Object</button></div>
                <div list-item>
                    <b>{{it.name}}</b>
                    <p>{{it.type}}</p>
                </div>
            </div>
            
            <div class="row" >
                <div class="col-sm-4">
                          <label for="inputType" class="control-label">Response Variable</label>
                    </div>
                          <div class="col-sm-8">
                            <select class="form-control" id="inputType" ng-model="endVar.end">
                              <option ng-repeat="type in bNameList">{{type}}</option>

                            </select>
                          </div>
                        </div>
            <div><button ng-click="saveEnd()" class="btn btn-primary">Save Response Variable</button></div>
        </td>
    </tr>
</script>

<script  type="text/ng-template" id="msTemplate">
    <tr>
        <td>
            <h1>Microservice Data</h1>
        </td>
    </tr>

    <tr>
        <td>
            <div><button ng-click="viewDocs()" class="btn btn-primary">View API Docs</button></div>
            <div class="row" >
                <div class="col-sm-4">
                          <label for="inputType" class="control-label">Input Variable</label>
                    </div>
                          <div class="col-sm-8">
                            <select class="form-control" id="inputType" ng-model="mscomp.inputVar">
                              <option ng-repeat="type in bNameList">{{type}}</option>

                            </select>
                          </div>
                        </div>
            <div class="row" >
                <div class="col-sm-4">
                          <label for="outType" class="control-label">Output Variable</label>
                    </div>
                          <div class="col-sm-8">
                            <select class="form-control" id="outType" ng-model="mscomp.outputVar">
                              <option ng-repeat="type in bNameList">{{type}}</option>

                            </select>
                          </div>
                        </div>
            <div><button ng-click="saveMsComp()" class="btn btn-primary">Save Data</button></div>
        </td>
    </tr>
</script>