<a class="fa fa-cog fa-2x" style="float:right" ng-click="goToEnv();" aria-hidden="true"></a>

<div deckgrid source="photos" cardTemplate="/javascripts/projects/template/card.tpl.html" class="deckgrid"></div>


<nav mfb-menu position="br" effect="zoomin" label="Add Microservice"
     active-icon="fa fa-plus-circle" resting-icon="fa fa-plus-circle"
     toggling-method="click" class="text-center" ng-click="addProject()" aria-hidden="true">
     <i class="fa fa-plus-circle" aria-hidden="true"></i>
</nav>