<nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Micro-S-Platform</a>
            </div>
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li class="active"><a >Projects <span class="sr-only">(current)</span></a></li>
                <li><a ng-click="goToEnv();">Environments</a></li>
               
              </ul>
            </div>
          </div>
        </nav>


<!--<a class="fa fa-cog fa-2x" style="float:right" ng-click="goToEnv();" aria-hidden="true"></a>-->

<div deckgrid source="photos" cardTemplate="/javascripts/projects/template/card.tpl.html" class="deckgrid"></div>


<nav mfb-menu position="br" effect="zoomin" label="Add Microservice"
     active-icon="fa fa-plus-circle" resting-icon="fa fa-plus-circle"
     toggling-method="click" class="text-center" ng-click="addProject()" aria-hidden="true">
     <i class="fa fa-plus-circle" aria-hidden="true"></i>
</nav>