<!--<div deckgrid class="deckgrid" source="photos">-->
<!--    <div class="a-card">-->
<!--        <h1>{{card.title}}</h1>-->
 
<!--        <img src="" data-ng-src="{{card.src}}">-->
<!--    </div>-->
<!--</div>-->


    <div class="a-card box-shadow2 text-center">
        <h1>{{card.name}}</h1>
         <div class="row">
            <div class="col-sm-6">Location</div>
             <div class="col-sm-6">{{card.loc}}</div>
        </div>
        <div class="row">
        <div class="col-sm-6">Port</div>
             <div class="col-sm-6">{{card.port}}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">Docker Port</div>
             <div class="col-sm-6">{{card.dport}}</div>
        </div>
    </div>
